*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Source Serif 4";
    src: url(./source\ serrif\ 4.ttf);
}
body,html{
    width: 100%;
    height: 100%;
    font-family: "Source Serif 4";
}

.page1{
    width: 100%;
    min-height: 100%;
    /* background-color: rgb(235, 235, 122); */
}
.nav{
    height: 100px;
    width: 100%;
    /* background-color: rgb(75, 75, 229); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.nav_part1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_part1 h4{
    font-size: 13px;
    font-family: "Source Serif 4";
    font-weight: 600;
}
.nav_part2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav_part2 button{
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 16px;
    font-family: "Source Serif 4";
    font-weight: 500;
    border: none;
}
.nav_part2 button:nth-child(2){
    background-color: black;
    color: white;
    border: none;
}
.nav img{
    width: 20%;
    /* height: 20%; */
}
.page1 .content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: crimson; */
    padding-top: 90px;
}

.content .content_subtitle{
    width: fit-content;
    background-color: rgb(229, 229, 102);
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 18px;
}
.content .content_title{
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    margin: 30px 0;
    line-height: 61px;
}

.content .content_desc{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.content button{
    padding: 20px 15px;
    margin: 10px 5px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    font-family: "Source Serif 4";
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.scroll_section{
    width: 100%;
    height: 25vw;
    /* background-color: lightcoral; */
    margin: 60px 0;
    padding: 20px 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
}
.scroll_section::-webkit-scrollbar{
    display: none;
}
.scroll_section .elem{
    width: 18vw;
    height: 100%;
    background-color: cadetblue;
    /* border: 2px solid green; */
    flex-shrink: 0 ;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.scroll_section .elem img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.scroll_section .elem .elem_content{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 15px;
    background: linear-gradient(transparent 30% , #000 );
}
.scroll_section .elem .elem_name{
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.scroll_section .elem .elem_job{
    font-size: 14px;
    font-weight: 600;
    color: #c9c6c6;
}
.scroll_section .elem .elem_tag{
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #ffffff;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    margin: 4px 0;
}

.page2{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    position: relative;
    padding: 70px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.page2 h1{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    
}
.page2 .box{
    width: 330px;
    height: 270px;
    background-color: olivedrab;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.page2 .box img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page2 .box .box_content{
    width: 100%;
    height: 20%;
    background: linear-gradient(0deg,black, transparent);
    position: absolute;
    bottom: -5%;
    opacity: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    transition: all .2s linear;
}
.page2 .box:hover .box_content{
    opacity: 1;
    bottom: 0%;
}
